<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>application-identifier</key>
    <string>95CX6P84C4.com.danielraffel.Homebar</string>
    <key>com.apple.application-identifier</key>
    <string>95CX6P84C4.com.danielraffel.Homebar</string>
    <key>com.apple.developer.homekit</key>
    <true/>
    <key>com.apple.developer.team-identifier</key>
    <string>95CX6P84C4</string>
    <key>com.apple.security.app-sandbox</key>
    <true/>
    <key>com.apple.security.network.client</key>
    <true/>
    <key>com.apple.security.files.downloads.read-write</key>
    <true/>
</dict>
</plist>
